/Entities/obj
/Entities/bin
/GDR.BAL/obj
/GDR.BAL/bin
/GDR.DAL/obj
/GDR.DAL/bin
/GoogleDriveReplica/obj
/GoogleDriveReplica/bin
/DriveFoldersAPI/obj
/DriveFoldersAPI/bin
/TokenGenerator/obj
/TokenGenerator/bin
