<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=.\SQLEXPRESS2014;Initial Catalog =Assignment4; User Id = sa; Password=PakistanZindabad;"/>
   </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>