
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";

}


<button class="btn btn-success btn-sm ml-4 mt-4" id="create-folder" data-toggle="modal" data-target="#myModal"> Create Folder + </button>

<div class="container folder-panel mt-5"></div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">


        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a new Folder.</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body row">
                <div class="col-sm-4">
                    <h5>Folder Name:</h5>
                </div>
                <div class="col-sm-6">
                    <input type="text" id="new-folder-name" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="create-new-folder" data-dismiss="modal">Create</button>
            </div>
        </div>

    </div>
</div>
